.tab-list {
    border-bottom: 1px solid #ccc;
    padding-left: 0;
  }
  
  .tab-list-item {
    display: inline-block;
    list-style: none;
    cursor: pointer;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
  }
  
  .tab-list-item:hover {
    background-color: #f6f6f6;
  }
 
  .tab-list-active {
    background-color: white!important;
    border: solid #ccc;
    border-width: 1px 1px 0 1px;
    cursor: context-menu;
  }